<section class="modal-container">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#exampleModalCenter"
  >
    Add Coins
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Select from the
            coins below</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- input dropdown -->
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="inputGroupSelect01"
            >Coins</label>
            <select class="form-select" id="inputGroupSelect01">
              {{#each coins}}
                <option value="1">{{name}}</option>
              {{/each}}
            </select>

            {{! <div class="form-group">
              <label for="exampleFormControlTextarea1">Example textarea</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div> }}

          </div>

        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Close</button>
          <button type="button" class="btn btn-primary">Add Coin</button>
        </div>
      </div>
    </div>
  </div>
</section>