<div class="container">
  <h1 id="from-crypto-name"></h1>
  <ul id="from-coin-menu" class="list">
    <li class="from-crypto li-list">BTC</li>
    <li class="from-crypto li-list">BCH</li>
    <li class="from-crypto li-list">EOS</li>
    <li class="from-crypto li-list">ETH</li>
    <li class="from-crypto li-list">DASH</li>
    <li class="from-crypto li-list">LTC</li>
    <li class="from-crypto li-list">XRP</li>
    <li class="from-crypto li-list">ZEC</li>
    <li class="from-crypto li-list">ETC</li>
  </ul>
</div>

<div class="line"></div>

<div class="container">
  <h1 id="to-currency-price"></h1>
  <ul id="coin-card" class="list">
    <li class="to-money li-list">USD</li>
    <li class="to-money li-list">EUR</li>
    <li class="to-money li-list">GBP</li>
    <li class="to-money li-list">BTC</li>
    <li class="to-money li-list">ETH</li>
  </ul>
</div>