{{!-- {{login}}

<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
           My <br />
            <span class="text-primary">Crypto</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            View the coin market, convert crypto to USD, and mange your portfolio all with My Crypto!
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" class="form-control" />
                  <label class="form-label" for="form3Example4">Password</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Sign In
                </button>

                <!-- Register buttons -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section> --}}
<div class="main-login-container">
<section class="login-container">
  <div class="col-lg-6 mb-5 mb-lg-0">
    <form class="login-form">
      <div>
        <label for="email-login" class="form-label">email:</label>
        <input type="text" id="email-login" />
      </div>
      <div>
        <label for="password-login" class="form-label">password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-primary btn-block mb-4"
        >login</button>
      </div>
    </form>
    </section>
    <section class="signup-container">
    <form class="signup-form">
      <div>
        <label for="username-signup" class="form-label">username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="email-signup" class="form-label">email:</label>
        <input type="text" id="email-signup" />
      </div>
      <div>
        <label for="password-signup" class="form-label">password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-primary btn-block mb-4"
        >signup</button>
      </div>
    </form>
  </div>
</section>
</div>
<script src="/javascript/login.js"></script>