<div class="coin-title-card">
  <div class="card flex-fill" style="width: 18rem;">
    <img
      class="card-img-top"
      src="/images/mc_banner.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h3 class="card-text">Coin Market</h3>
    </div>
  </div>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">24</th>
            <th scope="col">7D</th>
            <th scope="col">Market Cap</th>
            <th scope="col">Volume</th>
            <th scope="col">Circulating Supply</th>
        </tr>
    </thead>
    
    <tbody>
        
        <tr>
            {{#each coins}}
            <th scope="row">{{this}}</th>
            <td>{{name}}</td>
            {{/each}}
        </tr>
        
    </tbody>
    
</table>